body {
	background-color: #F9CFCF;
}

h1 {
	color: white;
	text-align: center;
}

p {
	color: white;
	text-align: center;

	font-family: Lucida Sans Typewriter;	
	font-size: 16px;
}

hr {
	border: 0;
	border-bottom: 2px dashed;
	color: white;
}
